@import url('@assets/styles/sizes.css');

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.label {
	width: fit-content;
	margin-left: 1rem;

	/* TODO: add for all sizes */
	font-size: 0.8rem;
}

.input_wrapper {
	display: inline-flex;
	align-items: center;
	gap: 6px;

	min-width: 100px;
	width: auto;

	background-color: var(--pure-ui-background);
	border: 1px solid var(--pure-ui-border);
	border-radius: var(--pure-ui-border-radius);

	transition: all var(--pure-ui-transition);

	&:has(.input:disabled) {
		background-color: var(--pure-ui-disabled);
		color: var(--pure-ui-disabled-text);
		opacity: 0.5;
	}

	&:has(.input:not(:disabled)) {
		&:hover {
			background-color: var(--pure-ui-accent-background);
		}

		&:has(.input:active),
		&:has(.input:focus) {
			background-color: var(--pure-ui-accent-background);
			border: 1px solid var(--pure-ui-neutral);
		}
	}

	svg {
		height: 75%;
		aspect-ratio: 1 / 1;
	}
}

.input {
	border: none;
	background-color: rgba(0, 0, 0, 0);

	outline: none;
	resize: none;
	box-shadow: none;

	appearance: none;
}
